.container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 1rem;
        /* width: fit-content; */
        margin: 0px 0px 100px 0px;
    }

    .section-1:first-child {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }



    .section-1 {
        background-color: #2b2b2b;
        width: 1010px;
        height: 255px;
        margin: 0px;
        padding: 17px 0px 0px 30px;
    }

    .section-1 h1 {
        font-style: italic;
        width: 250px;
        color: white;
    }

    .section-1 p {
        color: white;
        width: 370px;
        font-weight: lighter;
    }

    .section-2,
    .section-3 {
        position: relative;
        width: 462px;
        height: 225px;
        border: 1px solid lightgray;
        padding: 2px 10px;
        box-shadow: inset 0px 0px 2px #777777;
        background-color: rgba(255, 255, 255 .1);
    }

    .Thumbnail {
        display: flex;
        position: absolute;
        top: 0px;
        right: 0;
        width: 120px;
        height: 227px;
        background-color: #2b2b2b;
        color: white;
        border: 1px solid lightgray;
        justify-content: center;
        align-items: center;
    }

    .blue {
        color: rgb(67, 127, 238);
        font-weight: bold;
    }

    .green {
        color: green;
        font-weight: bold;
    }

    .line-height {
        line-height: 3px;
    }

    .date {
        color: grey;
        font-size: 13px;
    }

    .italic {
        font-style: italic;
    }

    .about {
        box-shadow: inset 0px 0px 5px lightgray;
        background-color: rgba(247, 245, 245, .3);
        padding: 10px 15px;
        margin: 4px 0px 55px 128px;
    }

    .Archives {
        padding: 10px 15px;
        margin: 4px 0px 55px 128px;

    }



    .section-4,
    ul {
        text-align: start;

    }

    #sample {
        height: 180px;
        border-top: .1px solid lightgray;
        border-bottom: .1px solid lightgray;
        padding-top: 20px;

    }

    .sample {
        line-height: .5rem;
        margin-top: 5px;
    }

    .Fhouse {
        font-size: 20px;
        height: 40px;

    }


    .section-5 ul {
        list-style: none;
        text-decoration: none;
        padding: 1px 0px;
    }

    li a {
        text-decoration: none;
        color: rgb(67, 127, 238);
        font-weight: lighter;
    }

    .section-5 {
        width: 485px;


    }

    .ul-2 {
        margin: 5px 5px 5px 5px;
        padding: 1px 1px 1px 1px;

    }

    .ul-4 {
        margin-right: 37px;
    }

    .space {
        word-spacing: 5px;
    }

    .sample-1 {
        line-height: .5rem;
        margin-top: 60px;

    }

    .btn {


        border-radius: 30px;
        height: 30px;
        width: 58px;
        border-color: lightgray;

    }